@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(240, 5%, 65%);
  border-radius: 5px;
  margin-right: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Styles for type chart apps/web/src/components/types/types-chart/index.tsx */
.type-chart-table {
  border-collapse: separate;
  border-spacing: 0;
}

.type-chart-td {
  border: solid 1px white;
  border-style: none solid solid none;
}

.type-chart-tr:first-child .type-chart-td:first-child {
  border-top-left-radius: calc(0.3rem /* 4.8px */ - 2px);
}

.type-chart-tr:first-child .type-chart-td:last-child {
  border-top-right-radius: calc(0.3rem /* 4.8px */ - 2px);
}

.type-chart-tr:last-child .type-chart-td:first-child {
  border-bottom-left-radius: calc(0.3rem /* 4.8px */ - 2px);
}
.type-chart-tr:last-child .type-chart-td:last-child {
  border-bottom-right-radius: calc(0.3rem /* 4.8px */ - 2px);
}

.type-chart-tr:first-child .type-chart-td {
  border-top-style: solid;
  height: 70px;
  width: 44px;
}

.type-chart-tr .type-chart-td:first-child {
  border-left-style: solid;
  height: 44px;
  width: 70px;
}

.slot-config-card-grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: repeat(2);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
